@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
    --color-fucsia: #ff3485;
    --color-verde: #00d39c;
    --color-verde-osc: #00b582;
    --color-naranja: #ff8c00;
    --color-amarillo: #ffcc00;
    --color-violeta: #842af3;
    --color-negro: #000000;
    --color-blanco: #ffffff;

    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;

    --tablet: 768px;
    --desktop: 1024px;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
.animate__fadeInDown {
    @apply animate__animated;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.navbar-item{
    @apply text-sm leading-6 font-bold py-2 block uppercase transition relative;
}
.navbar-item:hover::after{
    @apply absolute bottom-0;
    content: '';
    /* background-image: url('img/nav-item-hover.svg'); */
}
.btn-primary{
    @apply bg-white font-bold rounded-lg py-4 px-8 inline-block relative;
    z-index: 1;
    transform: rotate(-4deg);
}
    .btn-primary::before{
        @apply bg-black absolute rounded-lg h-full top-0 left-0;
        width: 90%;
        content: '';
        transform: translateX(5%) rotate(4deg);
        z-index: -1;
        transition: all .25s ease;
    }
    .btn-text{
        @apply text-white uppercase;
        display: block;
        transform: rotate(0deg);
    }
        .btn-primary:hover,
        .btn:hover .btn-text{
            transform: rotate(0deg);
        }
        .btn:hover::before{
            width: 100%;
            transform: translateX(0) rotate(0deg);
        }

    .btn-primary.btn-shadow-fucsia{
        @apply bg-fucsia;
    }
    .btn-primary.btn-shadow-amarillo{
        @apply bg-amarillo;
    }


.social-has-interaction a{
        @apply bg-black p-3 mb-3 rounded-full shadow transition duration-500 ease-in-out;
    }
    .social-has-interaction:hover a{
        @apply bg-violeta transform scale-110;
    }
    .social-has-interaction .wp{
        @apply bg-green-600;
    }

/* banner slide 01 platos */
.caption-plato-left{
    width: 10rem;
    position: absolute;
    bottom: 15rem;
    left: 22%;
    
    transform: rotate(12deg);
}
.caption-plato-right{
    @apply text-right;
    width: 10rem;
    position: absolute;
    top: 2rem;
    right: 15%;
    transform: rotate(-5deg);
}
@media (min-width: var(--desktop)){
    .caption-plato-left{
        left: 320px;
    }
    .caption-plato-right{
        right: 320px;
    }
}

.banner-strip-end{
    height: 38rem;
}
@media (min-width: 768px){
    .banner-strip-end{
        border-bottom: 10rem solid var(--color-blanco);
    }
}


.pasos{
    @apply pl-6;
}
@media (min-width: 768px){
    .pasos{
        @apply pl-0;
    }
}
.pasos li{
    @apply relative pl-28 pr-12;
}
    .pasos li::before{
        @apply font-bold font-barlow absolute left-0;
        top: -4rem;
        font-size: 10rem; 
        z-index: 0;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        .pasos li{
            @apply px-12;
        }
        .pasos li::before{ font-size: 6rem; }
    }
    @media(min-width: 768px){
        .pasos li{
            @apply pr-24;
        }
    }
    .pasos li:first-child::before{
        content: '1.';
        left: 1rem;
    }
    .pasos li:nth-child(2)::before{
        content: '2.';
    }
    .pasos li:last-child::before{
        content: '3.';
    }

    .pasos.fucsia li::before{
        color: var(--color-fucsia);
    }
    .pasos.blanco li::before{
        color: var(--color-blanco);
    }


    .card-plato{
        @apply text-white rounded-xl relative p-8 mt-24;
        transition: all .5s ease;
    }
    .card-plato:hover{
        transform: scale(1.02);
        box-shadow:
            0 1.9px 1.6px -17px rgba(0, 0, 0, 0.021),
            0 5.1px 4.4px -17px rgba(0, 0, 0, 0.03),
            0 12.4px 10.6px -17px rgba(0, 0, 0, 0.039),
            0 41px 35px -17px rgba(0, 0, 0, 0.06)
            ;

        }

        .plato-cont{
            @apply relative -mt-28;
            margin-left: auto;
            margin-right: auto;
        }
        .plato-cont,
        .plate{
            @apply max-w-full;
            width: 90vw;
        }
        .hero-plato{
            @apply relative;
            z-index: 2;
            max-width: 95%;
            width: 100%;
            left: 12px;
        }
        @media (min-width: 768px){
            .plate{
                width: 300px;
            }
            .hero-plato{
                width: 275px;
            }
        }




/* ADMIN STYLES */
.file-label {
    @apply flex justify-start relative overflow-hidden;
}
.file-input {
    @apply absolute top-0 w-full h-full outline-none opacity-0 left-0;
}
.file-cta, .file-name {
    border-color: #dbdbdb;
    border-radius: 4px;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
}

.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    color: currentColor;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    height: 1.2em;
    width: 1.2em;
}

.form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}